* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.section-clock {
  height: 100vh;
  background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.2)
    ),
    url(siddharth-shah-EXZipTH58ms-unsplash.jpg);
  background-size: cover;
}

.clock-heading {
  font-size: 6.4rem;
  text-transform: uppercase;
  color: #fff;
  align-self: center;
}

.clocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: center;
  column-gap: 3.2rem;
  row-gap: 9.6rem;
  padding: 0 4.8rem;
}

.clock-heading-box {
  grid-column: 1/-1;
  padding: 2.4rem 0;
  justify-self: center;
}

/* .clock-heading {

} */

.clock-tokyo,
.clock-new-york,
.clock-dubai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date {
  font-size: 3.6rem;
  color: #fff;
  text-align: center;
}

.clock {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background: linear-gradient(45deg, #e67e22, #c0392b);
  position: relative;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.85);
}

.clock::after {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.city-heading {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  font-weight: 400;
  color: #fff;
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: 0%;
  border-radius: 3px;
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hour-hand {
  width: 33%;
  height: 1.8rem;
  background-color: #222;
  z-index: 1;
}

.minute-hand {
  width: 40%;
  height: 1.2rem;
  background-color: #333;
  z-index: 2;
}

.second-hand {
  width: 40%;
  height: 0.6rem;
  background-color: black;
  z-index: 3;
}
